/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  padding: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
input {
  padding: 10px;
  border-radius: 10px;
}
button {
  padding: 10px;
  border-radius: 10px;
}
